<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>美容美发协会</title>
  <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
  <script type="text/javascript" src="../res/layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

  <div class="site-nav-bg">
    <div class="site-nav w1200">
     
      <div class="sn-quick-menu">
        <div class="login"><a href="shop_res">商家入驻</a></div>
        <div class="login"><a href="shop_login">商家登录</a></div>
        <div class="login"><a href="user_res">用户注册</a></div>
        <div class="login"><a href="user_login">用户登录</a></div>
        <div class="login"><a href="appointment">我的预约</a></div>
        <div class="login"><a href="admin">管理员</a></div>
      </div>
    </div>
  </div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="美容美发协会">
            <img src="../res/static/img/titlename.png">
          </a>
        </h1>
      </div>
    </div>
  </div>


  <div class="content content-nav-base about-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="index">潮流资讯</a>
            <a href="shoplist">店铺浏览</a>
            <a href="about"  class="active">关于我们</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="brief-content layui-clear w1200">
      <div class="img-box">
        <img src="../res/static/img/us_img1.jpg">
        <img class="top" src="../res/static/img/us_img2.jpg">
      </div>
      <div class="text">
        <p>在这个平台上大家可以足不出户的预约所需要的服务。我们能够帮助用户在网上浏览不同的美容美发店铺，预约美发师、查看美发师案例和互动，用户可以直接在网站上预约自己选中的美容美发店铺和美发师造型师，能够方便广大用户，也会为许多美发商铺提供曝光机会。</p>
      </div>
    </div>
  </div>

<script type="text/javascript">

layui.config({
    base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm'],function(){
      var
     mm = layui.mm;
  
    

});
</script>
</body>
</html>