<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>美容美发协会</title>
    <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
    <script type="text/javascript" src="../res/layui/layui.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
    <div class="site-nav w1200">

        <div class="sn-quick-menu">
            <div class="login"><a href="shopres">商家入驻</a></div>
            <div class="login"><a href="shoplogin">商家登录</a></div>
            <div class="login"><a href="userres">用户注册</a></div>
            <div class="login"><a href="userlogin">用户登录</a></div>
            <div class="login"><a href="appointment">我的预约</a></div>
            <div class="login"><a href="admin">管理员</a></div>
        </div>
    </div>
</div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="美容美发协会">
                    <img src="../res/static/img/titlename.png">
                </a>
            </h1>
        </div>
    </div>
</div>


<div class="content content-nav-base shopcart-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="index">潮流资讯</a>
                    <a href="shoplist">店铺浏览</a>
                    <a href="about">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bg w1200">
        <h3>抗疫成城</h3>
        <p>在线预约8折起</p>
    </div>
    <div class="cart w1200">
        <div class="cart-table-th">
            <div class="th th-chk">

            </div>
            <div class="th th-price">
                <div class="th-inner">
                    店铺
                </div>
            </div>
            <div class="th th-price">
                <div class="th-inner">
                    套餐
                </div>
            </div>
            <div class="th th-amount">
                <div class="th-inner">
                    发型师
                </div>
            </div>
            <div class="th th-sum">
                <div class="th-inner">
                    到店时间
                </div>
            </div>
            <div class="th th-price">
                <div class="th-inner">
                    操作
                </div>
            </div>
            <div class="th th-aa">
                <div class="th-inner">
                    预约状态
                </div>
            </div>
            <div class="th th-aa">
                <div class="th-inner">
                    &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;地图
                </div>
            </div>
        </div>
        <div th:each="appoint:${appoint}">
        <div class="OrderList">
            <div class="order-content" id="list-cont">
                <ul class="item-content layui-clear">
                    <li class="th th-price">
                        <span class="th-su"> <span th:text="${appoint.shop_id}"></span></span>
                    </li>
                    <li class="th th-price">
                        <span class="th-su"> <span th:text="${appoint.type_id}"></span></span>
                    </li>
                    <li class="th th-price">
                        <span class="th-su"> <span th:text="${appoint.hairstylist_id}"></span></span>
                    </li>
                    <li class="th th-price">
                        <span class="th-su"> <span th:text="${appoint.appoint_time}"></span></span>
                    </li>
                    <li class="th th-price">
                        <span class="th-su"> <a th:href="@{'http://localhost:8088/deleteappoint?id='+${appoint.appoint_id}}">取消预约</a></span>
                    </li>
                    <li class="th th-">
                        <span class="th-su"> <span th:if="${appoint.status} eq 1" th:text="待进行"></span>
                             <span th:if="${appoint.status} eq 0" th:text="待同意"></span>
                             <span th:if="${appoint.status} eq 2" th:text="已完成"></span>
                                                 </span>
                    </li>
                    <li class="th th-">
                        <a href="http://localhost:8088/map">  &nbsp; &nbsp; 查看地图</a>
                    </li>

                </ul>

            </div>
        </div>
        </div>

        <div class="FloatBarHolder layui-clear">
            <div class="th th-chk">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  layui.config({
    base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','jquery','element','car'],function(){
    var mm = layui.mm,$ = layui.$,element = layui.element,car = layui.car;

    // 模版导入数据
    // var html = demo.innerHTML,
    // listCont = document.getElementById('list-cont');
    // mm.request({
    //   url: '../json/shopcart.json',
    //   success : function(res){
    //     listCont.innerHTML = mm.renderHtml(html,res)
    //     element.render();
    //     car.init()
    //   },
    //   error: function(res){
    //     console.log(res);
    //   }
    // })
    //
    car.init()


});
    function map(){

    }

</script>
</body>
</html>