<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>美容美发协会</title>
    <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
    <script type="text/javascript" src="../res/layui/layui.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
    <div class="site-nav w1200">

        <div class="sn-quick-menu">
            <div class="login"><a href="shopres">商家入驻</a></div>
            <div class="login"><a href="shoplogin">商家登录</a></div>
            <div class="login"><a href="userres">用户注册</a></div>
            <div class="login"><a href="userlogin">用户登录</a></div>
            <div class="login"><a href="appointment">我的预约</a></div>
            <div class="login"><a href="admin">管理员</a></div>
        </div>
    </div>
</div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="美容美发协会">
                    <img src="../res/static/img/titlename.png">
                </a>
            </h1>
            <div class="mallSearch">
                <form action="" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入店铺名查找">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content content-nav-base commodity-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="index">潮流资讯</a>
                    <a href="shoplist" class="active">店铺浏览</a>
                    <a href="about">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">
            <div class="left-nav">
                <div class="title">分类</div>
                <div class="list-box">
                    <dl>
                        <dt><a onclick="test1()">美发套餐</a></dt>
                    </dl>
                    <dl>
                        <dt><a onclick="test2()">发型师</a></dt>
                    </dl>
                    <dl>
                        <dt><a onclick="test3()">店铺评论</a></dt>
                    </dl>
                    <dt><a onclick="test4()">进行预约</a></dt>
                    </dl>
                    </dl>
                    <dt><a style="color:plum;">店铺信息</a></dt>
                    </dl>
                </div>
            </div>
            <div class="right-cont-wrap">
                <div class="right-cont">
                    <div class="layui-form-item">
                        <label class="layui-form-label">店铺名</label>
                        <div class="layui-input-block">
                            <input  disabled="disabled" type="text" name="shop_name" th:value="${shop.shop_name}"lay-verify="title" autocomplete="off"  class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">详细地址</label>
                        <div class="layui-input-block">
                            <input  disabled="disabled" type="text" name="address"  th:value="${shop.address}" lay-verify="required" lay-reqtext="" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">联系方式</label>
                            <div class="layui-input-inline">
                                <input  disabled="disabled" type="tel" name="tel"  th:value="${shop.tel}" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">店铺详情</label>
                        <div class="layui-input-block">
                            <textarea  disabled="disabled" name="details" th:text="${shop.details}"class="layui-textarea"></textarea>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
}
        var a = getQueryVariable("id")

        function test1(){
			 window.location.href='http://localhost:8088/shop_type?id='+a
		}

		function test2(){
			 window.location.href='http://localhost:8088/shop_hairstylist?id='+a
		}
		function test3(){
			 window.location.href='http://localhost:8088/shop_comment?id='+a
		}

		function test4(){
			 window.location.href='http://localhost:8088/shop_appoint?id='+a
		}
  layui.config({
    base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','laypage','jquery'],function(){
      var laypage = layui.laypage,$ = layui.$,
     mm = layui.mm;
       laypage.render({
        elem: 'demo0'
        ,count: 100 //数据总数
      });

    $('.sort a').on('click',function(){
      $(this).addClass('active').siblings().removeClass('active');
    })
    $('.list-box dt').on('click',function(){
      if($(this).attr('off')){
        $(this).removeClass('active').siblings('dd').show()
        $(this).attr('off','')
      }else{
        $(this).addClass('active').siblings('dd').hide()
        $(this).attr('off',true)
      }
    })

});



        </script>


</body>
</html>